{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
    "cloudant": {
      "db": "https://thenedgeopeciestalwallon:BMlFByQJuv3uosn8vaGrqCYW@nednal12.cloudant.com/asdproject"
    }
  }
}
